.companies-background {
    background-image: url("https://res.cloudinary.com/doaftkgbv/image/upload/v1587658644/so-white_bpmwjw.png");
    height: 100vh;
}

.companies-description {
    text-align: center;
    margin: 2% auto;
    font-weight: bold;
    color: #768987;
}

.companies {
    margin: 13% auto;
}

.companies > .form-row > .col > .form-group > input {
    position: relative;
    z-index: 1;
}

.companies > .form-row:nth-of-type(1) >.col:nth-of-type(1), .companies > .form-row:nth-of-type(3) >.col:nth-of-type(1){
    padding-right: 0;
}

.companies > .form-row:nth-of-type(1) >.col:nth-of-type(2), .companies > .form-row:nth-of-type(3) >.col:nth-of-type(2){
    padding-left: 0;
}

.companies > .form-row:nth-of-type(2){
    padding: 1% 0;
}

.companies > .submit {
    position: relative;
    z-index: 1;
    font-weight: bold;
    display: block;
    width: 200px;
    color: #41b3a3;
    border-color: #41b3a3;
    margin: 15px auto;
    box-shadow: 0px 5px 10px rgb(71,71,71)
}

.submit:hover {
    box-shadow: inset 0px 0px 36px -9px rgba(66, 179, 163,1);
    color: white;
}

.companies-card {
    display: block;
    margin: 2% auto;
    border: none;
    box-shadow: 0px 0px 36px -9px rgba(195,141,158,1);
    z-index: 1;
}

.container > .row > .companies-card > .card-header {
    text-transform: uppercase;
    color: #41b3a3;
    font-size: 20px;
    font-family: 'Rammetto One', cursive;
}

.container > .row > .companies-card > .card-body > p:nth-of-type(2) > a {
    color: #41b3a3;
    text-decoration: none;
}

.far {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
}

.far:hover {
    color: #41b3a3;
}

p > span {
    font-weight: bold;
}

.companies-chevron {
    position: relative;
    text-align: center;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 400px;
    width: 100%;
}

.companies-chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50.5%;
    background:  rgba(66, 179, 163, 0.8);
    transform: skew(0deg, 6deg);
}

.companies-chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background:  rgba(66, 179, 163, 0.8);
    transform: skew(0deg, -6deg);
}