.gratitude-background {
    background-color: #E1D8CE;
    height: 100vh;
}

.gratitude-description {
    text-align: center;
    margin: 2% auto;
    font-weight: bold;
    color: #2d393c;
}

.gratitude {
    margin: 13% auto;
}

.gratitude > .form-row > .col > .form-group > input {
    position: relative;
    z-index: 1;
}

.gratitude > .form-row:nth-of-type(1) >.col:nth-of-type(1), .gratitude > .form-row:nth-of-type(3) >.col:nth-of-type(1){
    padding-right: 0;
}

.gratitude > .form-row:nth-of-type(1) >.col:nth-of-type(2), .gratitude > .form-row:nth-of-type(3) >.col:nth-of-type(2){
    padding-left: 0;
}

.gratitude > .form-row:nth-of-type(2){
    padding: 1% 0;
}

.gratitude > .submit {
    position: relative;
    z-index: 1;
    font-weight: bold;
    display: block;
    width: 200px;
    color: #c58870;
    border-color: #c58870;
    margin: 15px auto;
    box-shadow: 0px 5px 10px rgb(71,71,71)
}

.submit:hover {
    box-shadow: inset 0px 0px 36px -9px #c58870;
    color: white;
}

.companies-card {
    display: block;
    margin: 2% auto;
    border: none;
    box-shadow: 0px 0px 36px -9px black;
    z-index: 1;
}

.container > .row > .gratitude-card > .card-title {
    text-transform: uppercase;
    color: #2d393c;
    font-size: 20px;
    font-family: 'roboto', cursive;
}

.container > .row > .gratitude-card > .card-body > p:nth-of-type(2) > a {
    color: #c58870;
    text-decoration: none;
}

.far {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
}

.far:hover {
    color: #c58870;
}

p > span {
    font-weight: bold;
}

.gratitude-chevron {
    position: relative;
    text-align: center;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 400px;
    width: 100%;
}

.gratitude-chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50.5%;
    background:  rgba(66, 179, 163, 0.8);
    transform: skew(0deg, 6deg);
}

.gratitude-chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background:  rgba(66, 179, 163, 0.8);
    transform: skew(0deg, -6deg);
}